<ng-template #msg>
  <div class="alert alert-info" role="alert">{{ loading() }}</div>
</ng-template>

<div *ngIf="loading() == ''; else msg">
  <div class="list-group">
    <h5 class="list-group-item list-group-item-dark mb-0 mt-3 rounded-top">
      {{device().name}}
    </h5>
    <div class="list-group-item text-center">Востаннє онлайн: {{device().lastUpdated}}</div>

    <div *ngFor="let port of device().devicePorts" class="list-group-item text-center">
      <div>
        {{ port.name }}:
        <span *ngIf="port.ioType == 'out'">
          {{ port.value }}
        </span>
        <span *ngIf="port.ioType == 'in'">
          <input type="text" [(ngModel)]="port.value" class="form-control d-inline-block w-auto text-center" (change)="updatePort(port)" />
        </span>
      </div>
    </div>
  </div>
</div>
