<div *ngIf="isVisible" class="card shadow-sm">
  <div class="card-body">
    <canvas
      baseChart
      [data]="lineChartData"
      [options]="lineChartOptions"
      type="line">
    </canvas>

    <div *ngIf="loading()" class="text-danger mt-2">{{ loading() }}</div>

    <div class="d-flex justify-content-center align-items-center mt-3 gap-3">
      <button class="btn btn-outline-secondary btn-sm" (click)="addDay(-1)">
        <i class="bi bi-arrow-left"></i> Назад
      </button>

      <span class="fw-semibold">{{ onDate }}</span>

      <button class="btn btn-outline-secondary btn-sm" (click)="addDay(1)">
        Вперед <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
